body {
    padding: 0;
    margin: 0,
}


header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    font-size: 22px;
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
    font-size: 35px;
    color: #002db3;
}

header a {
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: #002db3;
    display: inline-block;
}

header .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffc266;
    transition: width .3s;
}

header .nav-item:hover::after {
    width: 100%;
    transition: width .3s;
}

.content {
    background-image: url("stock/houston-city-background-7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
}

.content h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 6em;
}


.section-2 {
    padding: 15vmin;
    margin: 0;
}

.col-md-5 {
    padding-top: 7vmin;
}

.section-2 p {
    font-size: 18px;
    color: #737373;
}

.section-2 h1 {
    color: #002db3;
}

.form {
    background-color: #ffc266;
    padding: 20vmin;
}

.form h1 {
    font-size: 3.5em;
}

.form p {
    font-size: 2em;
}

.btn {
    background-color: #002db3;
    padding: 15px 20px;
    font-size: 35px;
    font-family: "Montserrat";
    color: white;
}

.btn:hover {
    color: #CFB53B;
}




.section-4 {
    background: rgba(0, 0, 0, 0.815);
    padding: 12vmin 10vmin;
    margin-top: 15vmin;
}

.section-4 input {
    border: none !important;
}

.section-4 input::placeholder {
    color: white !important;
}

.section-4 .input-group .input-group-text {
    background: #ffc266;
    border: none;
}

.section-4 .column i {
    color: #ffc266;
    padding: 5px;
}

/* .section-4 h3 {
    padding: 4vmin;
} */

span {
    color: #ffc266;
}